extends layout

block content
    .container
      h1.header URL Shortener Microservice
      p
        a(href='https://github.com/adamisntdead/URLShortener') GitHub
      blockquote
        | User Stories:
        ol
          li I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
          li If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.
          li When I visit that shortened URL, it will redirect me to my original link.
      br
      h2 Test it Out
      p Go to  http://shorter-urls.herokuapp.com/new/<url>, replacing <url> with the url you want to shorten.
      a(href='/new/http://github.com/') Shorten http://github.com
      br
      h2 Example output:
      code 
        | {
        |   "original_url": "http://github.com/",
        |   "short_url": "experementation-adamisntdead.c9users.io:80/aHR0cDovL2dpdGh1Yi5jb20v"
        | }
